@charset "UTF-8";

$FONT_FAMILY: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;

$BREAK_POINT: 800px;
$CONTENT_MIN_WIDTH: 320px;
$CONTENT_MAX_WIDTH: 980px;

$COLOR_WHITE: #fff;
$COLOR_BLACK: #222;
$COLOR_GRAY: #777;
$COLOR_DARKGRAY: #444;
$COLOR_LIGHTGRAY: #fcfcfc;
$COLOR_RED: #e64e33;
$COLOR_BLUE: #15a6f1;
$COLOR_PURPLE: #6a14bf;
$COLOR_GREEN: #6cc718;
