@charset "UTF-8";

$FONT_FAMILY: Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;

$BREAK_POINT: 780px;
$CONTENT_MIN_WIDTH: 320px;
$CONTENT_MAX_WIDTH: 780px;

$COLOR_WHITE: #fff;
$COLOR_BLACK: #222;
$COLOR_GRAY: #777;
$COLOR_LIGHTGRAY: #d8d8d8;
$COLOR_DARKGRAY: #444;
$COLOR_BLOCKGRAY: #fcfcfc;
$COLOR_RED: #e64e33;
$COLOR_BLUE: #1aa5ec;
$COLOR_PURPLE: #6a14bf;
$COLOR_GREEN: #6cc718;
