@charset "UTF-8";

$FONT_FAMILY: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

$BREAK_POINT: 980px;
$CONTENT_MAX_WIDTH: 1200px;
$CONTENT_MIN_WIDTH: 320px;
$ASIDE_WIDTH: 320px;
$MAIN_WIDTH: calc(100% - #{$ASIDE_WIDTH});

$COLOR_WHITE: #fff;
$COLOR_BLACK: #222;
$COLOR_GRAY: #666;
$COLOR_LIGHTGRAY: #d8d8d8;
$COLOR_DARKGRAY: #444;
$COLOR_BLOCKGRAY: #fcfcfc;
$COLOR_RED: #e64e33;
$COLOR_BLUE: #1092e0;
$COLOR_PURPLE: #6a14bf;
$COLOR_GREEN: #6cc718;
