@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  background: $COLOR_WHITE;
  font-family: $FONT_FAMILY;
  font-size: 16px;
  line-height: 1.6;
  color: $COLOR_BLACK;
}

body {
  background: $COLOR_WHITE;
}

a {
  color: $COLOR_BLUE;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
