@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  background: $COLOR_LIGHTGRAY;
  font-family: $FONT_FAMILY;
  font-size: 14px;
  line-height: 1.6;
  color: $COLOR_BLACK;

  @include media() {
    font-size: 16px;
  }
}

a {
  color: $COLOR_BLUE;
  text-decoration: none;
}

img {
  max-width: 100%;
}
